:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw;
}

.switch-buttons {
  display: flex;
  gap: 0.5vw;
}

.switch-buttons button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #ffffff1a;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;

  &.active {
    background-color: #ffffff2d;
  }
}

.graph-wrapper {
  height: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
}

.graph-container {
  width: 50vw;
  height: 60vh;
  min-width: 400px;
  min-height: 250px;
  border: 1px solid #ffffff1a;
  background-color: #ffffff04;
  border-radius: 1vw;
}

.y-data {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  box-sizing: border-box;
  font-weight: bold;
}

.x-data {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  box-sizing: border-box;
  font-weight: bold;
}